# SQLAlchemy ORM

![ORM Layer](./images/orm_layer.png)

ORM stands for Object Relational Mapper, and is a layer that maps database rows to python objects. When programming, we often prefer to work with objects, rather than primitive types, at the cost of some flexibility and transparency into the underlying SQL

As a general rule of thumb 
- Core is better suited for analytical queries where we expect to get back many rows 
- ORM is better suited for applications where we often only need to work with one to a handful of rows at a time

## Defining the tables

As we're using the ORM, we need to define the classes (**O**bjects) that will map to the database. There are a few different ways to do this [mapping](https://docs.sqlalchemy.org/en/14/orm/mapping_styles.html#mapping-python-classes) in SQLAlchemy, but the classic way is to create a Base class, and inherit from that. 

You'll see this in lots of pre-2.0 codebases so it's important to recognize and understand what that means

In [1]:
import sqlalchemy as sa
from sqlalchemy.orm import declarative_base

Base = declarative_base() # This does not make typechecker and linters happy

class MyClass(Base):
    __tablename__ = "demo_table"
    
    # Note that ORM classes must define at least one primary_key
    class_id: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)

One of the many changes in SQLAlchemy 2.0 is the ability to register classes through a decorator, which can feel more inline with `dataclass` and `attrs` based classes

In [2]:
from sqlalchemy.orm import registry
import enum

mapper_registry = registry()

Given the registry, we can now define classes to define the data models. The typehints are optional (for now) unlike `dataclasses` and `attrs`, but gives some extra type safety

These are regular classes (with extras), so we can add things like a `__repr__` to be able to print it nicely. In fact, they look a lot like `dataclasses` and `attrs` classes, long before either existed!

In [3]:
@mapper_registry.mapped
class Address:
    __tablename__ = "addresses"
    
    address_id: int = sa.Column(sa.Integer, primary_key=True)
    street_name: str = sa.Column(sa.VARCHAR(50))
    street_number: int = sa.Column(sa.Integer)
    postnr: str = sa.Column(sa.VARCHAR(4))
    
    # Add a nice string representation - it's just a class!
    def __repr__(self):
        return f"<Address street_name={self.street_name} street_number={self.street_number} postnr={self.postnr}>"

One extra is that the ORM layer autogenerates a SQLAlchemy Table and sets it to the `__table__` attribute, the same `Table` instance that we saw in Core

In [4]:
Address.__table__

Table('addresses', MetaData(), Column('address_id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('street_name', VARCHAR(length=50), table=<addresses>), Column('street_number', Integer(), table=<addresses>), Column('postnr', VARCHAR(length=4), table=<addresses>), schema=None)

Note that in both instances, we're not defining an `__init__` - SQLAlchemy will automatically generate one, though we can always add one if we want to, usually to be able to run some extra logic.

Let's finish our models - we can add a Purchase object and a Customer object and relate them:

In [5]:
import decimal
from sqlalchemy.orm import relationship

@mapper_registry.mapped
class Purchase:
    __tablename__ = "purchases"
    __table_args__ = {"extend_existing": True}
    
    purchase_id: int = sa.Column(sa.Integer, primary_key=True)
    item_name: str = sa.Column(sa.VARCHAR(200))
    price: decimal.Decimal = sa.Column(sa.Numeric(19, 4))
    user_id: int = sa.Column(sa.Integer, sa.ForeignKey("customers.customer_id"))
    
    def __repr__(self):
        return f"<Purchase item_name={self.item_name}>"

We can also use other native python types such as enums and decimals - SQLAlchemy will handle converting to and from SQL <-> Python datatypes

In [6]:
class StatusEnum(str, enum.Enum):
    gold = "gold"
    silver = "silver"
    bronze = "bronze"

In [7]:
@mapper_registry.mapped
class Customer:
    __tablename__ = "customers"
    __table_args__ = {"extend_existing": True}
    
    customer_id: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.VARCHAR(50), unique=True)
    status: str = sa.Column(sa.Enum(StatusEnum))
    address_id: int = sa.Column(sa.Integer, sa.ForeignKey("addresses.address_id"))
    
    # One-to-one relationship
    address: Address = relationship("Address", backref="customer")
    
    # One-to-many
    purchases: list[Purchase] = relationship("Purchase", backref="customer")
    
    def __repr__(self):
        return f"<Customer name={self.name}>"

# Relationships
Here we are taking advantage of one of the main benefits of using an ORM - we can setup attributes to represent foreign key relationships!

A relationship allows us to issue SQL to select a related collection - essentially selecting the relevant rows from the other table.

To demonstrate, let's start by creating the tables and inserting some data

In [8]:
# If you have docker installed and haven't already run this - uncomment these lines
# !docker run -e POSTGRES_PASSWORD=postgres -p 5432:5432 -d postgres
conn_string = "postgresql://postgres:postgres@localhost:5432"
# Otherwise, use the sqlite conn_string
# conn_string = "sqlite:///parking.db"

Since we are now "hiding" away the SQL, let's turn on `echo` to see what SQL statements are being issued under the hood - this is a great way to build understanding of what your ORM is doing for you and catch it when it does something you weren't expecting!

In [9]:
engine = sa.create_engine(conn_string, future=True, echo=True)

Since ORM builds on top of Core, we still use the engine and the metadata as we did before

In [10]:
mapper_registry.metadata.create_all(engine)

2022-06-11 23:50:13,076 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-06-11 23:50:13,077 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-06-11 23:50:13,078 INFO sqlalchemy.engine.Engine select current_schema()
2022-06-11 23:50:13,078 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-06-11 23:50:13,079 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-06-11 23:50:13,080 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-06-11 23:50:13,082 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,083 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,084 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'name': 'addresses'}
2022-06-11 23:50:13,085 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,086 INFO sqlalchemy.engine.Engine [cached since 0.003133s ago] {'name': 'purchases'}
2022-06-11 23:50:13,087 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,087 INFO sqlalchemy.engine.Engine [cached since 0.004686s ago] {'name': 'customers'}
2022-06-11 23:50:13,089 INFO sqlalchemy.engine.Engine
            SELECT EXISTS (
                SELECT * FROM pg_catalog.pg_type t
                WHERE t.typname = %(typname)s
                AND pg_type_is_visible(t.oid)
                )

2022-06-11 23:50:13,089 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {'typname': 'statusenum'}
2022-06-11 23:50:13,090 INFO sqlalchemy.engine.Engine
CREATE TABLE addresses (
	address_id SERIAL NOT NULL,
	street_name VARCHAR(50),
	street_number INTEGER,
	postnr VARCHAR(4),
	PRIMARY KEY (address_id)
)


2022-06-11 23:50:13,091 INFO sqlalchemy.engine.Engine [no key 0.00056s] {}
2022-06-11 23:50:13,097 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	customer_id SERIAL NOT NULL,
	name VARCHAR(50),
	status statusenum,
	address_id INTEGER,
	PRIMARY KEY (customer_id),
	UNIQUE (name),
	FOREIGN KEY(address_id) REFERENCES addresses (address_id)
)


2022-06-11 23:50:13,098 INFO sqlalchemy.engine.Engine [no key 0.00086s] {}
2022-06-11 23:50:13,106 INFO sqlalchemy.engine.Engine
CREATE TABLE purchases (
	purchase_id SERIAL NOT NULL,
	item_name VARCHAR(200),
	price NUMERIC(19, 4),
	user_id INTEGER,
	PRIMARY KEY (purchase_id),
	FOREIGN KEY(user_id) REFERENCES customers (customer_id)
)


2022-06-11 23:50:13,107 INFO sqlalchemy.engine.Engine [no key 0.00065s] {}
2022-06-11 23:50:13,112 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
john = Customer(name="John", status=StatusEnum.gold)
jane = Customer(name="Jane", status=StatusEnum.bronze)

## Session

When working with the ORM, we use a Session instead of a connection. The session knows how to work with ORM-enabled classes, and serves as a local map of the various instances, keeping track of which instances have changes to be sent to the database, which instances are new and which are current.

In [12]:
from sqlalchemy.orm import Session

In [13]:
with Session(engine) as session:
    session.add(john)
    session.add(jane)
    # Still have to actively commit
    session.commit()

2022-06-11 23:50:13,142 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,144 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, status, address_id) VALUES (%(name)s, %(status)s, %(address_id)s) RETURNING customers.customer_id
2022-06-11 23:50:13,145 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ({'name': 'John', 'status': 'gold', 'address_id': None}, {'name': 'Jane', 'status': 'bronze', 'address_id': None})
2022-06-11 23:50:13,148 INFO sqlalchemy.engine.Engine COMMIT

Let's add an address to John's account

In [14]:
address = Address(street_name="Bogholder Allè", street_number=15, postnr=2720)

In [15]:
john.address = address

In [16]:
with Session(engine) as session:
    session.add(john)
    session.commit()

2022-06-11 23:50:13,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,166 INFO sqlalchemy.engine.Engine INSERT INTO addresses (street_name, street_number, postnr) VALUES (%(street_name)s, %(street_number)s, %(postnr)s) RETURNING addresses.address_id
2022-06-11 23:50:13,167 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {'street_name': 'Bogholder Allè', 'street_number': 15, 'postnr': 2720}
2022-06-11 23:50:13,171 INFO sqlalchemy.engine.Engine SELECT customers.customer_id AS customers_customer_id, customers.name AS customers_name, customers.status AS customers_status
FROM customers
WHERE customers.customer_id = %(pk_1)s
2022-06-11 23:50:13,171 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {'pk_1': 1}
2022-06-11 23:50:13,174 INFO sqlalchemy.engine.Engine UPDATE customers SET address_id=%(address_id)s WHERE customers.customer_id = %(customers_customer_id)s
2022-06-11 23:50:13,175 INFO sqlalchemy.engine.Engine [generated in 0.00062s] {'address_id': 1, 'customers_customer_id': 1}
2022-06-11 23:50:13,176 INFO sqlalchemy.engine.Engine COMMIT

John now goes shopping

In [17]:
potion = Purchase(item_name="Magic Potion", price=20.00, customer=john)

In [18]:
with Session(engine) as session:
    session.add(potion)
    session.commit()

2022-06-11 23:50:13,188 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,189 INFO sqlalchemy.engine.Engine SELECT customers.customer_id AS customers_customer_id, customers.name AS customers_name, customers.status AS customers_status, customers.address_id AS customers_address_id
FROM customers
WHERE customers.customer_id = %(pk_1)s
2022-06-11 23:50:13,190 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {'pk_1': 1}
2022-06-11 23:50:13,192 INFO sqlalchemy.engine.Engine INSERT INTO purchases (item_name, price, user_id) VALUES (%(item_name)s, %(price)s, %(user_id)s) RETURNING purchases.purchase_id
2022-06-11 23:50:13,193 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {'item_name': 'Magic Potion', 'price': 20.0, 'user_id': 1}
2022-06-11 23:50:13,194 INFO sqlalchemy.engine.Engine COMMIT

Let's add one more purchase:

In [19]:
magic_hat = Purchase(item_name="Magic Hat", price=100)

In [20]:
with Session(engine) as session:
    # Need to connect john to this session
    session.add(john)
    # purchases is a one-to-many relationship, so SQLAlchemy represents it as a list
    john.purchases.append(magic_hat)
    session.add(john)
    session.commit()

2022-06-11 23:50:13,205 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,206 INFO sqlalchemy.engine.Engine SELECT customers.customer_id AS customers_customer_id, customers.name AS customers_name, customers.status AS customers_status, customers.address_id AS customers_address_id
FROM customers
WHERE customers.customer_id = %(pk_1)s
2022-06-11 23:50:13,206 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {'pk_1': 1}
2022-06-11 23:50:13,208 INFO sqlalchemy.engine.Engine SELECT purchases.purchase_id AS purchases_purchase_id, purchases.item_name AS purchases_item_name, purchases.price AS purchases_price, purchases.user_id AS purchases_user_id
FROM purchases
WHERE %(param_1)s = purchases.user_id
2022-06-11 23:50:13,209 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {'param_1': 1}
2022-06-11 23:50:13,210 INFO sqlalchemy.engine.Engine INSERT INTO purchases (item_name, price, user_id) VALUES (%(item_name)s, %(price)s, %(user_id)s) RETURNING purchases.purchase_id
2022-06-11 23:50:13,211 INFO sqlalchemy.engine.Engine [cached since 0.01876s ago] {'item_name': 'Magic Hat', 'price': 100, 'user_id': 1}
2022-06-11 23:50:13,212 INFO sqlalchemy.engine.Engine COMMIT

Now we have some data, how do we select from the database? The same way as for Core!

In [21]:
sql = sa.select(Customer).filter_by(name="Jane")
print(sql)

SELECT customers.customer_id, customers.name, customers.status, customers.address_id
FROM customers
WHERE customers.name = :name_1

In [22]:
with Session(engine) as session:
    jane = session.execute(sql).one_or_none()

2022-06-11 23:50:13,223 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,225 INFO sqlalchemy.engine.Engine SELECT customers.customer_id, customers.name, customers.status, customers.address_id
FROM customers
WHERE customers.name = %(name_1)s
2022-06-11 23:50:13,231 INFO sqlalchemy.engine.Engine [generated in 0.00565s] {'name_1': 'Jane'}
2022-06-11 23:50:13,234 INFO sqlalchemy.engine.Engine ROLLBACK

In [23]:
jane

(<Customer name=Jane>,)

The result of our query is a `Row` object, same as in Core - but usually in ORM mode, we're often interested in the `scalars` result - the value in the first column for each row.

SQLAlchemy supports this through the `scalars` modifier, as well as `scalars` helpers

In [24]:
with Session(engine) as session:
    jane = session.execute(sql).scalars().one_or_none()

2022-06-11 23:50:13,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,249 INFO sqlalchemy.engine.Engine SELECT customers.customer_id, customers.name, customers.status, customers.address_id
FROM customers
WHERE customers.name = %(name_1)s
2022-06-11 23:50:13,251 INFO sqlalchemy.engine.Engine [cached since 0.02587s ago] {'name_1': 'Jane'}
2022-06-11 23:50:13,253 INFO sqlalchemy.engine.Engine ROLLBACK

In [25]:
jane

In [26]:
with Session(engine) as session:
    jane = session.execute(sql).scalar_one_or_none()

2022-06-11 23:50:13,266 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,267 INFO sqlalchemy.engine.Engine SELECT customers.customer_id, customers.name, customers.status, customers.address_id
FROM customers
WHERE customers.name = %(name_1)s
2022-06-11 23:50:13,268 INFO sqlalchemy.engine.Engine [cached since 0.04277s ago] {'name_1': 'Jane'}
2022-06-11 23:50:13,269 INFO sqlalchemy.engine.Engine ROLLBACK

In [27]:
jane

If we know the primary key, SQLAlchemy provides an efficient method of looking up by primary key

In [28]:
with Session(engine) as session:
    jane2 = session.get(Customer, jane.customer_id)

2022-06-11 23:50:13,279 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,280 INFO sqlalchemy.engine.Engine SELECT customers.customer_id AS customers_customer_id, customers.name AS customers_name, customers.status AS customers_status, customers.address_id AS customers_address_id
FROM customers
WHERE customers.customer_id = %(pk_1)s
2022-06-11 23:50:13,281 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {'pk_1': 2}
2022-06-11 23:50:13,282 INFO sqlalchemy.engine.Engine ROLLBACK

In [29]:
jane2

Now that we fetched our customer, we can ask questions about related attributes

In [30]:
with Session(engine) as session:
    session.add(john)
    print("Purchases:\t", john.purchases)
    print("Address:\t", john.address)

2022-06-11 23:50:13,291 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,292 INFO sqlalchemy.engine.Engine SELECT customers.customer_id AS customers_customer_id, customers.name AS customers_name, customers.status AS customers_status, customers.address_id AS customers_address_id
FROM customers
WHERE customers.customer_id = %(pk_1)s
2022-06-11 23:50:13,293 INFO sqlalchemy.engine.Engine [cached since 0.08715s ago] {'pk_1': 1}
2022-06-11 23:50:13,294 INFO sqlalchemy.engine.Engine SELECT purchases.purchase_id AS purchases_purchase_id, purchases.item_name AS purchases_item_name, purchases.price AS purchases_price, purchases.user_id AS purchases_user_id
FROM purchases
WHERE %(param_1)s = purchases.user_id
2022-06-11 23:50:13,295 INFO sqlalchemy.engine.Engine [cached since 0.08671s ago] {'param_1': 1}
Purchases:	 [<Purchase item_name=Magic Potion>, <Purchase item_name=Magic Hat>]
2022-06-11 23:50:13,297 INFO sqlalchemy.engine.Engine SELECT addresses.address_id AS addresses_address_id, addresses.street_name AS addresses_street_name, addresses.street_number AS addresses_street_number, addresses.postnr AS addresses_postnr
FROM addresses
WHERE addresses.address_id = %(pk_1)s
2022-06-11 23:50:13,300 INFO sqlalchemy.engine.Engine [generated in 0.00269s] {'pk_1': 1}
Address:	 <Address street_name=Bogholder Allè street_number=15 postnr=2720>
2022-06-11 23:50:13,308 INFO sqlalchemy.engine.Engine ROLLBACK

(Notice what happens before each print statement in the SQL logs)

If we check a regular attribute, there's no SQL being emitted

In [31]:
john.status

## Relationship loading
To access the relationship attributes we need to be inside a session since by default, SQLAlchemy relationships are `lazy-loading`. 

Lazy-loaded queries generate additional SQL queries when accessed to prevent loading all related data into memory at once. The relationship can be configured to be loaded in [different](https://docs.sqlalchemy.org/en/14/orm/loading_relationships.html#relationship-loading-techniques) ways, defined either in the relationship constructor, or as `select` options

In [32]:
from sqlalchemy.orm import joinedload, selectinload

with Session(engine) as session:
    sql = sa.select(Customer).options(joinedload(Customer.address), selectinload(Customer.purchases)).where(Customer.name == "John")
    john = session.execute(sql).unique().scalar_one()

2022-06-11 23:50:13,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,330 INFO sqlalchemy.engine.Engine SELECT customers.customer_id, customers.name, customers.status, customers.address_id, addresses_1.address_id AS address_id_1, addresses_1.street_name, addresses_1.street_number, addresses_1.postnr
FROM customers LEFT OUTER JOIN addresses AS addresses_1 ON addresses_1.address_id = customers.address_id
WHERE customers.name = %(name_1)s
2022-06-11 23:50:13,331 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'name_1': 'John'}
2022-06-11 23:50:13,334 INFO sqlalchemy.engine.Engine SELECT purchases.user_id AS purchases_user_id, purchases.purchase_id AS purchases_purchase_id, purchases.item_name AS purchases_item_name, purchases.price AS purchases_price
FROM purchases
WHERE purchases.user_id IN (%(primary_keys_1)s)
2022-06-11 23:50:13,335 INFO sqlalchemy.engine.Engine [generated in 0.00098s] {'primary_keys_1': 1}
2022-06-11 23:50:13,336 INFO sqlalchemy.engine.Engine ROLLBACK

In [33]:
john

Alternatively, we can define the relationship to be something other than `lazy` - let's add a `loyalty_points` table that will make a record of how many loyalty points a given purchase has

In [34]:
@mapper_registry.mapped
class LoyaltyPoints:
    __tablename__ = "loyalty_points"
    __table_args__ = {"extend_existing": True}
    
    loyalty_point_id: int = sa.Column(sa.Integer, primary_key=True)
    customer_id: int = sa.Column(sa.Integer, sa.ForeignKey("customers.customer_id"))
    purchase_id: int = sa.Column(sa.Integer, sa.ForeignKey("purchases.purchase_id"))
    total_points: int = sa.Column(sa.Integer)
    
    # One-to-one relationship
    purchase: Purchase = relationship("Purchase", backref="points", lazy="joined")
    
    # One-to-one
    customer: Customer = relationship("Customer", backref="points", lazy="selectin")

First we have to create our new table

In [35]:
mapper_registry.metadata.create_all(engine)

2022-06-11 23:50:13,354 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,355 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,356 INFO sqlalchemy.engine.Engine [cached since 0.2733s ago] {'name': 'addresses'}
2022-06-11 23:50:13,357 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,358 INFO sqlalchemy.engine.Engine [cached since 0.2751s ago] {'name': 'purchases'}
2022-06-11 23:50:13,359 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,360 INFO sqlalchemy.engine.Engine [cached since 0.277s ago] {'name': 'customers'}
2022-06-11 23:50:13,361 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,361 INFO sqlalchemy.engine.Engine [cached since 0.2788s ago] {'name': 'loyalty_points'}
2022-06-11 23:50:13,363 INFO sqlalchemy.engine.Engine
            SELECT EXISTS (
                SELECT * FROM pg_catalog.pg_type t
                WHERE t.typname = %(typname)s
                AND pg_type_is_visible(t.oid)
                )

2022-06-11 23:50:13,363 INFO sqlalchemy.engine.Engine [cached since 0.2746s ago] {'typname': 'statusenum'}
2022-06-11 23:50:13,364 INFO sqlalchemy.engine.Engine
CREATE TABLE loyalty_points (
	loyalty_point_id SERIAL NOT NULL,
	customer_id INTEGER,
	purchase_id INTEGER,
	total_points INTEGER,
	PRIMARY KEY (loyalty_point_id),
	FOREIGN KEY(customer_id) REFERENCES customers (customer_id),
	FOREIGN KEY(purchase_id) REFERENCES purchases (purchase_id)
)


2022-06-11 23:50:13,365 INFO sqlalchemy.engine.Engine [no key 0.00039s] {}
2022-06-11 23:50:13,371 INFO sqlalchemy.engine.Engine COMMIT

Let's add some loyalty points

In [36]:
with Session(engine) as session:
    sql = sa.select(Customer).filter_by(name="John")
    john = session.execute(sql).scalar_one()
    loyalty_purchase = john.purchases[0]
    loyalty_points = LoyaltyPoints(customer=john, purchase=loyalty_purchase, total_points=1000)
    session.add(loyalty_points)
    session.commit()

2022-06-11 23:50:13,377 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,384 INFO sqlalchemy.engine.Engine SELECT customers.customer_id, customers.name, customers.status, customers.address_id
FROM customers
WHERE customers.name = %(name_1)s
2022-06-11 23:50:13,384 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {'name_1': 'John'}
2022-06-11 23:50:13,386 INFO sqlalchemy.engine.Engine SELECT purchases.purchase_id AS purchases_purchase_id, purchases.item_name AS purchases_item_name, purchases.price AS purchases_price, purchases.user_id AS purchases_user_id
FROM purchases
WHERE %(param_1)s = purchases.user_id
2022-06-11 23:50:13,387 INFO sqlalchemy.engine.Engine [cached since 0.1786s ago] {'param_1': 1}
2022-06-11 23:50:13,390 INFO sqlalchemy.engine.Engine INSERT INTO loyalty_points (customer_id, purchase_id, total_points) VALUES (%(customer_id)s, %(purchase_id)s, %(total_points)s) RETURNING loyalty_points.loyalty_point_id
2022-06-11 23:50:13,391 INFO sqlalchemy.engine.Engine [generated in 0.00098s] {'customer_id': 1, 'purchase_id': 1, 'total_points': 1000}
2022-06-11 23:50:13,393 INFO sqlalchemy.engine.Engine COMMIT

Let's see what happens when we select John again

In [37]:
with Session(engine) as session:
    sql = sa.select(LoyaltyPoints).where(LoyaltyPoints.customer.has(Customer.name == "John"))
    john_points = session.execute(sql).scalar_one()

2022-06-11 23:50:13,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,406 INFO sqlalchemy.engine.Engine SELECT loyalty_points.loyalty_point_id, loyalty_points.customer_id, loyalty_points.purchase_id, loyalty_points.total_points, purchases_1.purchase_id AS purchase_id_1, purchases_1.item_name, purchases_1.price, purchases_1.user_id
FROM loyalty_points LEFT OUTER JOIN purchases AS purchases_1 ON purchases_1.purchase_id = loyalty_points.purchase_id
WHERE EXISTS (SELECT 1
FROM customers
WHERE customers.customer_id = loyalty_points.customer_id AND customers.name = %(name_1)s)
2022-06-11 23:50:13,407 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {'name_1': 'John'}
2022-06-11 23:50:13,410 INFO sqlalchemy.engine.Engine SELECT customers.customer_id AS customers_customer_id, customers.name AS customers_name, customers.status AS customers_status, customers.address_id AS customers_address_id
FROM customers
WHERE customers.customer_id IN (%(primary_keys_1)s)
2022-06-11 23:50:13,411 INFO sqlalchemy.engine.Engine [generated in 0.00086s] {'primary_keys_1': 1}
2022-06-11 23:50:13,412 INFO sqlalchemy.engine.Engine ROLLBACK

In [38]:
john_points.purchase

Relationship loading is one of the biggest benefits of ORMs, but can also be the easiest way to shoot yourself in the foot. Be mindful of your relationship loading strategies!

# Exercise

Jane, our customer from the first example, has just updated her profile to add her address, `Copenhagen Midtown, 2100`. She then went in and bought a `Dungeons and Dragons` item for 200. She then bought some `Dice` for 50.

Finally, find out how much our shop has sold for total, as well as average purchase price per customer

## ORMs are classes

The nice thing about working with ORM's is that they're just classes - you can add whatever methods you want, use inheritance through MixIns and other similar patterns

We want to enforce that all our models have a `last_updated` and `created_at` columns, but it can be pretty repetitive to add them manually

In [39]:
import datetime as dt

class CreatedMixin:
    last_updated: dt.datetime = sa.Column(sa.DateTime, default=sa.func.now(), onupdate=sa.func.now())
    created_at: dt.datetime = sa.Column(sa.DateTime, default=sa.func.now())

If you haven't seen a mixin before - it's a name for a pattern that allows classes to inherit functionality, but only extends instead of being meant to be overwritten

In [40]:
@mapper_registry.mapped
class User(CreatedMixin):
    __tablename__ = "users"
    __table_args__ = {"extend_existing": True} 
    
    primary: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)
    role: str = sa.Column(sa.String)
    purchases: int = sa.Column(sa.Integer, default=0)

In [41]:
list(User.__table__.columns)

[Column('last_updated', DateTime(), table=<users>, onupdate=ColumnDefault(<sqlalchemy.sql.functions.now at 0x7ff0551774f0; now>), default=ColumnDefault(<sqlalchemy.sql.functions.now at 0x7ff055177460; now>)),
 Column('created_at', DateTime(), table=<users>, default=ColumnDefault(<sqlalchemy.sql.functions.now at 0x7ff055171f70; now>)),
 Column('primary', Integer(), table=<users>, primary_key=True, nullable=False),
 Column('name', String(), table=<users>),
 Column('role', String(), table=<users>),
 Column('purchases', Integer(), table=<users>, default=ColumnDefault(0))]

The User table has inherited all the columns, as we expected. This pattern can reduce boilerplate when using ORMs

In [42]:
user = User(name="Jade", role="admin")

Since `User` is a regular class, we can define a `classmethod` constructor to provide an alternative constructor, from a JSON payload for example

In [43]:
@mapper_registry.mapped
class User(CreatedMixin):
    __tablename__ = "users"
    __table_args__ = {"extend_existing": True} 
    
    primary: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)
    role: str = sa.Column(sa.String)
    purchases: int = sa.Column(sa.Integer, default=0) # Note that default here only applies to the table - not to the generated __init__ function
    
    @classmethod
    def from_dict(cls, data):
        return cls(name=data["UserName"], role="public", purchases=0)

/tmp/ipykernel_271925/3424206456.py:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  class User(CreatedMixin):

In [44]:
user = User.from_dict({"UserName": "Jarvis"})

We can add properties to our class

In [45]:
@mapper_registry.mapped
class User(CreatedMixin):
    __tablename__ = "users"
    __table_args__ = {"extend_existing": True} 
    
    primary: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)
    role: str = sa.Column(sa.String)
    purchases: int = sa.Column(sa.Integer, default=0)
    
    @classmethod
    def from_dict(cls, data):
        return cls(name=data["UserName"], role="public", purchases=0)
    
    @property
    def is_admin(self):
        return self.role == "admin"

/tmp/ipykernel_271925/3538267035.py:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  class User(CreatedMixin):

The instances have the defined property, just like we're used to

In [46]:
user = User(name="Jade", role="public")
user.is_admin

False

If we want to, we can also use the property in our queries, by defining it as a `hybrid_property`. This lets us write `User.is_admin` to generate a SQL expression`

In [47]:
from sqlalchemy.ext.hybrid import hybrid_property

@mapper_registry.mapped
class User(CreatedMixin):
    __tablename__ = "users"
    __table_args__ = {"extend_existing": True} 
    
    primary: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)
    role: str = sa.Column(sa.String)
    purchases: int = sa.Column(sa.Integer, default=0)
    
    @classmethod
    def from_dict(cls, data):
        return cls(name=data["UserName"], role="public")
    
    @hybrid_property
    def is_admin(self):
        return self.role == "admin"

/tmp/ipykernel_271925/3312117000.py:4: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  class User(CreatedMixin):

Let's create the tables, and try out with some SQL

In [48]:
mapper_registry.metadata.create_all(engine)

2022-06-11 23:50:13,500 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,501 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,502 INFO sqlalchemy.engine.Engine [cached since 0.4192s ago] {'name': 'addresses'}
2022-06-11 23:50:13,504 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,504 INFO sqlalchemy.engine.Engine [cached since 0.4213s ago] {'name': 'purchases'}
2022-06-11 23:50:13,505 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,505 INFO sqlalchemy.engine.Engine [cached since 0.4228s ago] {'name': 'customers'}
2022-06-11 23:50:13,507 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,507 INFO sqlalchemy.engine.Engine [cached since 0.4243s ago] {'name': 'loyalty_points'}
2022-06-11 23:50:13,508 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-06-11 23:50:13,508 INFO sqlalchemy.engine.Engine [cached since 0.4258s ago] {'name': 'users'}
2022-06-11 23:50:13,510 INFO sqlalchemy.engine.Engine
            SELECT EXISTS (
                SELECT * FROM pg_catalog.pg_type t
                WHERE t.typname = %(typname)s
                AND pg_type_is_visible(t.oid)
                )

2022-06-11 23:50:13,510 INFO sqlalchemy.engine.Engine [cached since 0.4217s ago] {'typname': 'statusenum'}
2022-06-11 23:50:13,512 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	last_updated TIMESTAMP WITHOUT TIME ZONE,
	created_at TIMESTAMP WITHOUT TIME ZONE,
	"primary" SERIAL NOT NULL,
	name VARCHAR,
	role VARCHAR,
	purchases INTEGER,
	PRIMARY KEY ("primary")
)


2022-06-11 23:50:13,512 INFO sqlalchemy.engine.Engine [no key 0.00043s] {}
2022-06-11 23:50:13,519 INFO sqlalchemy.engine.Engine COMMIT

First, we create and add a user we can play with

In [49]:
user = User(name="Jade", role="admin")

In [50]:
session = Session(engine)
session.add(user)
session.commit() # using an open connection for ease of demoing - always use context managers where possible!

2022-06-11 23:50:13,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,538 INFO sqlalchemy.engine.Engine INSERT INTO users (last_updated, created_at, name, role, purchases) VALUES (now(), now(), %(name)s, %(role)s, %(purchases)s) RETURNING users."primary"
2022-06-11 23:50:13,538 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {'name': 'Jade', 'role': 'admin', 'purchases': 0}
2022-06-11 23:50:13,540 INFO sqlalchemy.engine.Engine COMMIT

In [51]:
sql = sa.select(User).where(User.is_admin)

In [52]:
print(sql)

SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE users.role = :role_1

Notice that the SQL statement includes our property statement in the WHERE clause.

Let's also verify the mixin defaults, while we're at it

In [53]:
admin_user = session.execute(sql).scalar_one_or_none()
print(f"Last updated: {admin_user.last_updated:%H:%M:%S}")

2022-06-11 23:50:13,558 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,559 INFO sqlalchemy.engine.Engine SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE users.role = %(role_1)s
2022-06-11 23:50:13,560 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {'role_1': 'admin'}
Last updated: 21:50:13

In [54]:
admin_user.name = "Jade Smith"
session.add(admin_user)
session.commit()
print(f"Last updated: {admin_user.last_updated:%H:%M:%S}")

2022-06-11 23:50:13,566 INFO sqlalchemy.engine.Engine UPDATE users SET last_updated=now(), name=%(name)s WHERE users."primary" = %(users_primary)s
2022-06-11 23:50:13,567 INFO sqlalchemy.engine.Engine [generated in 0.00105s] {'name': 'Jade Smith', 'users_primary': 1}
2022-06-11 23:50:13,568 INFO sqlalchemy.engine.Engine COMMIT
2022-06-11 23:50:13,573 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,574 INFO sqlalchemy.engine.Engine SELECT users.last_updated AS users_last_updated, users.created_at AS users_created_at, users."primary" AS users_primary, users.name AS users_name, users.role AS users_role, users.purchases AS users_purchases
FROM users
WHERE users."primary" = %(pk_1)s
2022-06-11 23:50:13,575 INFO sqlalchemy.engine.Engine [generated in 0.00075s] {'pk_1': 1}
Last updated: 21:50:13

Sometimes the SQL logic and the Python logic differ, and need to be written two different ways. Each hybrid_property can define an expression to be run when used inside a SQL statement.

In [55]:
@mapper_registry.mapped
class User(CreatedMixin):
    __tablename__ = "users"
    __table_args__ = {"extend_existing": True} 
    
    primary: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)
    role: str = sa.Column(sa.String)
    purchases: int = sa.Column(sa.Integer, default=0)
    
    @classmethod
    def from_dict(cls, data):
        return cls(name=data["UserName"], role="public")
    
    @hybrid_property
    def is_admin(self):
        return self.role == "admin"
    
    @hybrid_property
    def is_validated(self):
        return self.role in ["public", "admin"]
        
    @is_validated.expression # This provides the SQL definition
    def is_validated(cls):
        return cls.role.in_(["public", "admin"])

/tmp/ipykernel_271925/3431105693.py:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  class User(CreatedMixin):

In [56]:
user = User(name="Jade", role="public")

In [57]:
user.is_validated

True

In [58]:
sql = sa.select(User).where(User.is_validated)
print(sql)

SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE users.role IN (__[POSTCOMPILE_role_1])

In [59]:
validated_users = session.execute(sql).scalars().all()

2022-06-11 23:50:13,607 INFO sqlalchemy.engine.Engine SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE users.role IN (%(role_1_1)s, %(role_1_2)s)
2022-06-11 23:50:13,607 INFO sqlalchemy.engine.Engine [generated in 0.00086s] {'role_1_1': 'public', 'role_1_2': 'admin'}

In [60]:
validated_users[0].name

'Jade Smith'

So we now have Python logic mapped to both SQL and our local python instance. So far, it's been a simple property, what about logic?

In [61]:
from sqlalchemy.ext.hybrid import hybrid_method

@mapper_registry.mapped
class User(CreatedMixin):
    __tablename__ = "users"
    __table_args__ = {"extend_existing": True} 
    
    primary: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)
    role: str = sa.Column(sa.String)
    purchases: int = sa.Column(sa.Integer, default=0)
    
    @classmethod
    def from_dict(cls, data):
        return cls(name=data["UserName"], role="public")
    
    @hybrid_property
    def is_admin(self):
        return self.role == "admin"
    
    @hybrid_property
    def is_validated(self):
        return self.role in ["public", "admin"]
        
    @is_validated.expression
    def is_validated(cls):
        return cls.role.in_(["public", "admin"])

    def purchase(self, session: Session, item_cost: int) -> int:
        self.purchases += item_cost
        session.add(self)
        return self.purchases
    
    @hybrid_method # Define arbitrary methods
    def calculate_roi(self, total_cost: int) -> float:
        return (self.purchases - total_cost) / total_cost

/tmp/ipykernel_271925/2796975145.py:4: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  class User(CreatedMixin):

In [62]:
admin_user = session.execute(sql).scalar_one_or_none()
print(f"Last updated: {admin_user.last_updated:%H:%M:%S}")

2022-06-11 23:50:13,631 INFO sqlalchemy.engine.Engine SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE users.role IN (%(role_1_1)s, %(role_1_2)s)
2022-06-11 23:50:13,631 INFO sqlalchemy.engine.Engine [cached since 0.02474s ago] {'role_1_1': 'public', 'role_1_2': 'admin'}
Last updated: 21:50:13

In [63]:
admin_user.name = "Jade Smith"
session.add(admin_user)
session.commit()
print(f"Last updated: {admin_user.last_updated:%H:%M:%S}")

2022-06-11 23:50:13,640 INFO sqlalchemy.engine.Engine COMMIT
2022-06-11 23:50:13,641 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,642 INFO sqlalchemy.engine.Engine SELECT users.last_updated AS users_last_updated, users.created_at AS users_created_at, users."primary" AS users_primary, users.name AS users_name, users.role AS users_role, users.purchases AS users_purchases
FROM users
WHERE users."primary" = %(pk_1)s
2022-06-11 23:50:13,643 INFO sqlalchemy.engine.Engine [generated in 0.00059s] {'pk_1': 1}
Last updated: 21:50:13

Sometimes the SQL logic and the Python logic differ, and need to be written two different ways. Each hybrid_property can define an expression to be run when used inside a SQL statement.

In [64]:
@mapper_registry.mapped
class User(CreatedMixin):
    __tablename__ = "users"
    __table_args__ = {"extend_existing": True} 
    
    primary: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)
    role: str = sa.Column(sa.String)
    purchases: int = sa.Column(sa.Integer, default=0)
    
    @classmethod
    def from_dict(cls, data):
        return cls(name=data["UserName"], role="public")
    
    @hybrid_property
    def is_admin(self):
        return self.role == "admin"
    
    @hybrid_property
    def is_validated(self):
        return self.role in ["public", "admin"]
        
    @is_validated.expression # This provides the SQL definition
    def is_validated(cls):
        return cls.role.in_(["public", "admin"])

/tmp/ipykernel_271925/3431105693.py:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  class User(CreatedMixin):

In [65]:
user = User(name="Jade", role="public")

In [66]:
user.is_validated

True

In [67]:
sql = sa.select(User).where(User.is_validated)
print(sql)

SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE users.role IN (__[POSTCOMPILE_role_1])

In [68]:
validated_users = session.execute(sql).scalars().all()

2022-06-11 23:50:13,678 INFO sqlalchemy.engine.Engine SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE users.role IN (%(role_1_1)s, %(role_1_2)s)
2022-06-11 23:50:13,679 INFO sqlalchemy.engine.Engine [generated in 0.00083s] {'role_1_1': 'public', 'role_1_2': 'admin'}

In [69]:
validated_users[0].name

'Jade Smith'

So we now have Python logic mapped to both SQL and our local python instance. So far, it's been a simple property, what about logic?

In [70]:
from sqlalchemy.ext.hybrid import hybrid_method

@mapper_registry.mapped
class User(CreatedMixin):
    __tablename__ = "users"
    __table_args__ = {"extend_existing": True} 
    
    primary: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.String)
    role: str = sa.Column(sa.String)
    purchases: int = sa.Column(sa.Integer, default=0)
    
    @classmethod
    def from_dict(cls, data):
        return cls(name=data["UserName"], role="public")
    
    @hybrid_property
    def is_admin(self):
        return self.role == "admin"
    
    @hybrid_property
    def is_validated(self):
        return self.role in ["public", "admin"]
        
    @is_validated.expression
    def is_validated(cls):
        return cls.role.in_(["public", "admin"])

    def purchase(self, session: Session, item_cost: int) -> int:
        self.purchases += item_cost
        session.add(self)
        return self.purchases
    
    @hybrid_method # Define arbitrary methods
    def calculate_roi(self, total_cost: int) -> float:
        return (self.purchases - total_cost) / total_cost

/tmp/ipykernel_271925/2796975145.py:4: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  class User(CreatedMixin):

We've added a regular `purchase` method, so let's try that first:

In [71]:
user = User(name="Jane", role="admin", purchases=0)

In [72]:
user.purchase(session, 2_000)
session.commit()

2022-06-11 23:50:13,706 INFO sqlalchemy.engine.Engine INSERT INTO users (last_updated, created_at, name, role, purchases) VALUES (now(), now(), %(name)s, %(role)s, %(purchases)s) RETURNING users."primary"
2022-06-11 23:50:13,707 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {'name': 'Jane', 'role': 'admin', 'purchases': 2000}
2022-06-11 23:50:13,708 INFO sqlalchemy.engine.Engine COMMIT

In [73]:
user.purchases

2022-06-11 23:50:13,713 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-11 23:50:13,715 INFO sqlalchemy.engine.Engine SELECT users.last_updated AS users_last_updated, users.created_at AS users_created_at, users."primary" AS users_primary, users.name AS users_name, users.role AS users_role, users.purchases AS users_purchases
FROM users
WHERE users."primary" = %(pk_1)s
2022-06-11 23:50:13,716 INFO sqlalchemy.engine.Engine [generated in 0.00066s] {'pk_1': 2}

2000

What if we want to use a calculation inside our SQL query? that's what the hybrid_method does. Follows the same rules as the property, but works with arguments

In [74]:
user.calculate_roi(total_cost=1000)

1.0

In [75]:
sql = sa.select(User).where(User.calculate_roi(total_cost=1000) >= 1)

print(sql)

SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE (users.purchases - :purchases_1) / :param_1 >= :param_2

In [76]:
print([(user.name, user.calculate_roi(total_cost=1000)) for user in session.execute(sql).scalars()])

2022-06-11 23:50:13,735 INFO sqlalchemy.engine.Engine SELECT users.last_updated, users.created_at, users."primary", users.name, users.role, users.purchases
FROM users
WHERE (users.purchases - %(purchases_1)s) / %(param_1)s >= %(param_2)s
2022-06-11 23:50:13,736 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {'purchases_1': 1000, 'param_1': 1000, 'param_2': 1}
[('Jane', 1.0)]

In [77]:
session.close()

2022-06-11 23:50:13,741 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
@mapper_registry.mapped
class Login(CreatedMixin):
    __tablename__ = "logins"
    __table_args__ = {"extend_existing": True}
    
    login_id: int = sa.Column(sa.Integer, primary_key=True)
    customer_id = sa.Column(sa.Integer, sa.ForeignKey("website_users.user_id"))

In [ ]:
@mapper_registry.mapped
class WebsiteUser(CreatedMixin):
    __tablename__ = "website_users"
    __table_args__ = {"extend_existing": True}
    
    user_id: int = sa.Column(sa.Integer, primary_key=True)
    name: str = sa.Column(sa.VARCHAR(50))
    
    logins = relationship("Login", backref="customer")
    
    @hybrid_method
    def count_logins(self):
        return len(logins)
    
    @count_logins.expression
    def count_logins(cls):
        return sa.select(sa.func.count(Login.customer_id).label("login_count")).where(Login.customer_id == cls.user_id)

In [ ]:
with Session(engine) as engine:
    new_user = WebsiteUser(name="testuser")
    
    new_user.logins = [Login(customer=new_user) for _ in range(10)]
    session.add(new_user)